<html>
<style>
    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #barra li{

        display: inline;
        margin: 0 20px;
    }

</style>
<body>
    <h1>Barra de navegación</h1>
    <ul id="barra">
        <li>
            <a href="/saludo/">Home</a>
        </li>
        <li>
            <a href="/usuario/">Ficha de usuario </a>
        </li>
        <li>Chatea</li>
        <li>Juega</li>
        <li>Login</li>
    </ul>
</html>